/* Ejemplo selector universal ( de elementos HTML) */

*{
    background-color: black;
    color: whitesmoke;
}

/* Selector de etiquitas */

h2 {
    color: yellowgreen;
    border: 1px solid whitesmoke;
}
